img.card-img-top {
    height: 250px;
    max-height: 250px;
    width: auto;
    margin: 0 auto;
}

.searched_card{
	animation: show 0.5s ease forwards;
}
		
@keyframes show{
	from{opacity: 0;}
	to{opacity: 1;}
}

.search{
	position: relative;
	width: 250px;
}

.search input{
	width: 250px;
	height: 30px;
	margin: 0;
	padding: 0;
}

.search .suggest{
	background: #EDEDED;
	position: absolute;
	top: 40px;
	left: 10px;
	width: 80%;
	color: red;
	text-align: center;
}